[Desktop Entry]
Name=mxx-konsole
Comment=
Exec=konsole --tabs-from-file ~/mxx/mxx.konsole_tabs_file
Icon=utilities-terminal
Type=Application
Terminal=false
NoDisplay=false
StartupNotify=true